<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-controller="MyCtrl">
        <div class="container body" id="body">
                
    
<!-- Summary -->
<div class="container summary" id="summary">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img  src="{{summary.profile}}" alt="profile" class="img-responsive img-circle" id="profile"/>
            </div>
            <div class="col-md-6">
                <h1><strong>{{summary.name}}</strong></h1>
                <h2><strong>{{summary.title}}</strong></h2>
                <h2><span class="glyphicon glyphicon-home"></span>&nbsp;{{summary.location}}</h2>
                <h2><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;{{summary.phone}}</h2>
                <h2><span class="glyphicon glyphicon-envelope"></span>&nbsp;{{summary.email}}</h2>
                <h2>{{summary.information}}</h2>
                <div style="font-size: 20px;">
                <a href="https://www.facebook.com/ghulamsahki.fekrat"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/ghulam-sakhi-fikrat-0b223613b/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            
            </div>
        </div>
    </div>
    </div>
    <!-- Summary -->

    <!-- navbar -->
<div class="container" id="navbar">
        <ul class="nav nav-tabs ">
           <li class="active"><a data-toggle="tab" href="#professionalSummary">Professional Summary</a></li>
           <li><a data-toggle="tab" href="#skills">Key Skills</a></li>
           <li><a data-toggle="tab" href="#experience">Professional Experiences</a></li>
           <li><a data-toggle="tab" href="#education">Education</a></li>
           <li><a data-toggle="tab" href="#affiliation">Affiliation</a></li>
       
         </ul>
       
         <div class="tab-content" id="tab-content">
       
             <!-- Professional Summary -->
       
             <div id="professionalSummary" class="tab-pane fade in active"> 
                 <h3>Professional Summary</h3>
                 <p>{{summary.summaryone}}</p>
                 
           </div>
       
             <!-- Professional Summary -->
       
       
           <!-- skills -->
       
           <div id="skills" class="tab-pane fade">
             <h3>Skills</h3>
             <ul >
                 <li ng-repeat="skill in skills">
                     {{skill}}
                 </li>
             </ul>
           </div>
       
           <!-- skills -->
       
           <!-- Experience -->
       
           <div id="experience" class="tab-pane fade">
             <h3><strong>Expereince</strong></h3>
           
       
             <!-- Entry -->
             <div class="entry" ng-repeat="exp in experience">
             <h3><strong>{{exp.title}}</strong></h3>
             
            
            
             <div class="pull-right">
                 <h4>Start: {{exp.startYear}} End: {{exp.endYear}}</h4>
            </div>
             
             <h3>{{exp.organization}} </h3>
             <ul>
                 <li ng-repeat="item in exp.descriptions">{{item}}</li>
          
             </ul>
         </div>
           <!-- Entry -->
       
           </div>
       
           <!-- Experience -->
           
       
           <!-- Education -->
       
           <div id="education" class="tab-pane fade " ng-repeat="educate in education">
             <h3>Education</h3>
              <h3><strong>{{educate.title}}</strong></h3>
              <h3>{{educate.location1}}</h3>
              <h3>{{educate.organization}}</h3>
              <h4 class="pull-right">Start: {{educate.startYear}} End: {{educate.endYear}}</h4>
              <ul>             
                <li ng-repeat="edu in educate.descriptions">{{edu}}</li>
            </ul>
           </div>
       
           <!-- Education -->
       
       
       <!-- Affiliation -->
           <div id="affiliation" class="tab-pane fade">
            <h3>Affiliation</h3>
             <ul>
                 <li ng-repeat="affi in affiliation">
                     {{affi}}
                 </li>
                 
             </ul>
           </div>
       
       <!-- Affiliation -->
       
         </div>
       </div>
       
           <!-- navbar -->
  
    
<!-- Angular -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
    <script src="data.js"></script>
        </div>
</body>
</html>